@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D6FFE7;
  --foreground: #293F14;
}

[data-theme='dark'] {
    --background: #293F14;
    --foreground: #D6FFE7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 89 69% 16%; /* pakistan-green */
    --foreground: 145 100% 92%; /* spring-green */

    --card: 89 69% 16%; /* pakistan-green */
    --card-foreground: 145 100% 92%; /* spring-green */
 
    --popover: 89 69% 16%; /* pakistan-green */
    --popover-foreground: 145 100% 92%; /* spring-green */
 
    --primary: 132 100% 40%; /* kelly-green */
    --primary-foreground: 89 69% 16%; /* pakistan-green */
 
    --secondary: 93 83% 30%; /* office-green */
    --secondary-foreground: 145 100% 92%; /* spring-green */
 
    --muted: 93 83% 30%; /* office-green */
    --muted-foreground: 145 74% 70%; /* malachite */
 
    --accent: 132 100% 40%; /* kelly-green */
    --accent-foreground: 89 69% 16%; /* pakistan-green */
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 145 100% 92%; /* spring-green */

    --border: 93 83% 30%; /* office-green */
    --input: 93 83% 30%; /* office-green */
    --ring: 132 100% 40%; /* kelly-green */
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 145 100% 92%; /* spring-green */
    --foreground: 89 69% 16%; /* pakistan-green */
 
    --card: 145 100% 92%; /* spring-green */
    --card-foreground: 89 69% 16%; /* pakistan-green */
 
    --popover: 145 100% 92%; /* spring-green */
    --popover-foreground: 89 69% 16%; /* pakistan-green */
 
    --primary: 132 100% 30%; /* kelly-green */
    --primary-foreground: 145 100% 92%; /* spring-green */
 
    --secondary: 93 83% 23%; /* office-green */
    --secondary-foreground: 145 100% 92%; /* spring-green */
 
    --muted: 93 83% 23%; /* office-green */
    --muted-foreground: 145 74% 40%; /* malachite */
 
    --accent: 132 100% 30%; /* kelly-green */
    --accent-foreground: 145 100% 92%; /* spring-green */
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 145 100% 92%; /* spring-green */
 
    --border: 93 83% 23%; /* office-green */
    --input: 93 83% 23%; /* office-green */
    --ring: 132 100% 30%; /* kelly-green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply transition-colors duration-200;
  }
}
