@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51 16% 98%; /* FEFAE0 */
    --foreground: 77 15% 38%; /* 5F6F52 */

    --card: 46 81% 94%; /* F9EBC7 */
    --card-foreground: 77 15% 38%; /* 5F6F52 */

    --popover: 51 16% 98%; /* FEFAE0 */
    --popover-foreground: 77 15% 38%; /* 5F6F52 */

    --primary: 77 15% 38%; /* 5F6F52 */
    --primary-foreground: 51 16% 98%; /* FEFAE0 */

    --secondary: 80 20% 62%; /* A9B388 */
    --secondary-foreground: 77 15% 38%; /* 5F6F52 */

    --muted: 46 81% 94%; /* F9EBC7 */
    --muted-foreground: 26 27% 58%; /* B99470 */

    --accent: 26 27% 58%; /* B99470 */
    --accent-foreground: 51 16% 98%; /* FEFAE0 */

    --destructive: 21 73% 44%; /* C4661F */
    --destructive-foreground: 51 16% 98%; /* FEFAE0 */

    --border: 80 20% 62%; /* A9B388 */
    --input: 80 20% 62%; /* A9B388 */
    --ring: 77 15% 38%; /* 5F6F52 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 77 15% 38%; /* 5F6F52 */
    --foreground: 51 16% 98%; /* FEFAE0 */

    --card: 80 20% 62%; /* A9B388 */
    --card-foreground: 51 16% 98%; /* FEFAE0 */

    --popover: 77 15% 38%; /* 5F6F52 */
    --popover-foreground: 51 16% 98%; /* FEFAE0 */

    --primary: 51 16% 98%; /* FEFAE0 */
    --primary-foreground: 77 15% 38%; /* 5F6F52 */

    --secondary: 46 81% 94%; /* F9EBC7 */
    --secondary-foreground: 77 15% 38%; /* 5F6F52 */

    --muted: 26 27% 58%; /* B99470 */
    --muted-foreground: 46 81% 94%; /* F9EBC7 */

    --accent: 21 73% 44%; /* C4661F */
    --accent-foreground: 51 16% 98%; /* FEFAE0 */

    --destructive: 21 66% 28%; /* 783D19 */
    --destructive-foreground: 51 16% 98%; /* FEFAE0 */

    /* --border: none; B99470 */
    --input: 26 27% 58%; /* B99470 */
    --ring: 46 81% 94%; /* F9EBC7 */
  }
}

html, body {
  @apply bg-cover bg-fixed bg-center bg-no-repeat;
  background-image: url('/abstract_background_with_low_poly_technology_design_3004_generated.jpg');
}

@layer base {
  * {
    @apply border-border cursor-none;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}